#cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: background-color 0.3s;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
A{
    color: white;
    text-decoration: none;
}

body{
    background-color: #222222;
    height: 900px;
    width: 100%;
}

#title{
    margin-top: 100px;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 70px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    padding-bottom: 0.2em;

}

.item{
    font-size: 20px;
    color: white;
    width: 30%;
    float: left;
    padding-left: 2%;
    justify-content: space-between;
    align-items: center;
}

.item img{
    height: 100%;
    width: 100%;
}