header{ 
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    
}

#Home{
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    transition: background-color 0.3s;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin-left: 1%;
    width: 100%;
    height: 1000px;
    background-color: #222222;
}

h1{
    width: 100%;
    font-size: 30px;
    padding-right: 2%;
    color: #c8a2c8;
    text-decoration:dashed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}

.primeira{
    padding-top: 5%;
}

h4{
    color: #c8a2c8;
    font-size: 1.3em;
}

.ajustar{
    margin-top: 5%;
}

.ajustavel{
 
    width: 100%;
}